<div id="episodes" class="js_ajax_container">
  <div class="wrapper_skinny">
    <ul class="cf">
      <% @episodes.each do |episode| %>
        <li class="cf">
          <div class="episode_thumbnail">
            <%= image_tag episode.episode_thumbnail.url(:medium) %>
          </div>
          <div class="episode_overview">
            <h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
            <p class="description"><%= truncate(episode.description, length: 160) %></p>
            <div class="links pull-right">
              <h5>Tags:</h5>
              <% episode.tags.each do |t| %>
                <%= link_to t.name, podcast_path(@podcast, tag: t.name) %>
              <% end %>
            </div>
            <% if @podcast == current_podcast %>
              <div class="authorized_links">
                <%= link_to "Edit", edit_podcast_episode_path(@podcast, episode) %>
                <%= link_to "Delete", podcast_episode_path(@podcast, episode), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
             <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @episodes, previous_label: 'Previous', next_label: 'Next' %>
  </div>
</div>
