<div id="form">
  <div class="wrapper_skinny">
    <%= form_for([@podcast, @episode], :builder => CustomFormBuilder) do |f| %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <%= f.file_field_button :episode_thumbnail, 'Select thumbnail' %>

        <% unless f.object.episode_thumbnail.blank? %>
          <div>
            <%= image_tag f.object.episode_thumbnail.url(:medium) , class: "thumbnail" %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= f.file_field_button :mp3, 'Select MP3' %>

        <% unless f.object.mp3.blank? %>
          <div id="episode_content" data-src="<%= f.object.mp3.url %>">
            <%= render 'player' %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :all_tags, "List All Tags, separate each tag by a comma" %><br />
        <%= f.text_field :all_tags %>
      </div>

      <%= f.submit class: "button button_highlight button_block" %>
    <% end %>
  </div>
</div>